/* Reset Default Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: #150c21;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
}

/* Main Content */
#main {
    flex-grow: 1;
    max-width: 54em;
    width: 90%;
    margin: auto;
    padding: 2em 0;
}

/* Links */
a {
    text-decoration: none;
    color: rgb(20, 110, 190);
}

a:hover {
    border-bottom: 1px solid rgb(20, 110, 190);
}

/* Introduction Section */
#intro {
    display: flex;
    align-items: center;
    padding-top: 3em;
}

#intro-text {
    width: 40em;
}

#intro-image {
    width: 12em;
    height: 12em;
    margin: 2em;
    border-radius: 50%;
    overflow: hidden;
}

#intro-image img {
    width: 100%;
    height: auto;
}

/* Contact Icons */
#intro-links-container {
    margin-top: 1em;
}

#intro-links {
    display: flex;
    gap: 1.5em;
    justify-content: start;
}

#intro-links a {
    font-size: 1.8em;
    color: #333;
    transition: color 0.3s ease-in-out;
}

#intro-links a:hover {
    color: #0073b1;
}

/* Research Section */
#research {
    margin-top: 3em;
}

#research h2 {
    font-size: 2.5em;
    font-weight: bold;
}

.ri {
    display: flex;
    align-items: center;
    margin: 1.5em 0;
}

.ri-image {
    width: 8em;
    height: 8em;
    margin-right: 1em;
}

.ri-image video {
    width: 100%;
    height: 100%;
    border-radius: 1em;
    object-fit: cover;
}

.ri-text {
    display: flex;
    flex-direction: column;
}

.ri-text-title {
    font-size: 1.4em;
    font-weight: bold;
}

.ri-text-authors {
    font-size: 1em;
    color: gray;
}

.conference-tag {
    font-weight: bold;
    color: #0073b1;
}

/* Footer */
footer#footer {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 1em;
    background-color: #eeeeee;
    margin-top: auto;
}
